<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">

    <div class="container">
        <form action="/members/createMember" method="post">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" id="email" name="email" placeholder="이메일">
                <button type="button" id="codeSend">인증코드발송</button>
                <label for="codeCheck">인증코드</label>
                <input type="text" id="codeCheck" name="codeCheck" placeholder="인증코드">
                <button type="button" id="codeVerify">확인</button>
                <label for-="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호">
            </div>
            <button type="submit">회원가입</button>
        </form>
    </div> <!-- /container -->

</th:block>

</html>