<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <title>TEAMCLOUD</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" th:href="@{../static/css/main.css}"/>
        <link rel="stylesheet" th:href="@{../static/css/fontawesome-all.min.css}"/>
        <script th:src="@{../static/js/breakpoints.min.js}"></script>
        <script th:src="@{../static/js/browser.min.js}"></script>
        <script th:src="@{../static/js/jquery.dropotron.min.js}"></script>
        <script th:src="@{../static/js/jquery.min.js}"></script>
        <script th:src="@{../static/js/main.js}"></script>
        <script th:src="@{../static/js/util.js}"></script>
    </head>
</th:block>
</html>