<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <title>TEAMCLOUD</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/fontawesome-all.min.css"/>

        <!-- 부트스트랩 - 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <script src="https://kit.fontawesome.com/fbefdbe8db.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/util.js"></script>

        <!-- 부트스트램 - 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
</th:block>
</html>